body {
    margin: 0;
    margin-top: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color: rgb(78, 76, 76)
}
.contenido{
    font-size: 16px;
    padding: 10px 20px;
    text-align: justify;
    padding-bottom: 0;
    margin-bottom: 0;
}
.container{
    text-align: center;
    width: 300px;
    margin: auto;
    margin-left: 100px;
    margin-top: 50px;
    background: rgb(87, 165, 238);
    padding: 20px 10px;
    box-shadow: 0px 0px 45px #0007;
    border-radius: 8px;
    display: inline-block;
}
.Usabilidad {

    background-color: #000a;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    padding-top: 10px;
}
h2{
    text-align: center;
}
p{
    margin-left: 20px;
}
h1 {
    font-family: sans-serif;
    color: aliceblue;
    margin: auto;
}

.usaH {
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOsfD4N0Jp-Cr0F0tuJ81kOsBO6hNtuKnugg&s);
    margin: 0;
    padding-top: 50px;
    height: 110px;

    background-position: top;
    background-attachment: fixed;
}

.Headr {

    background: linear-gradient(to top, transparent, 30%, blue);
    padding-left: 120px;
    display: flex;
    right: 0;
    left: 0;
    border-style: solid;
    border-width: 12px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(241, 223, 223);
    box-shadow: 0 0 40px 0 black;
}
.Quees{
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-left-style: solid;
    border-color: darkgray;
}


    

.box{
    
    width: 100% ; 
   height: 100px;
   margin: 20px;
   margin: 0;
   background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOsfD4N0Jp-Cr0F0tuJ81kOsBO6hNtuKnugg&s); ;
   
background-position: top;
background-attachment: fixed;

}
.Opciones {
    padding-top: 30px;
    display: flex;
    margin: 0;

}

.Navegacion  {
    padding-top: 30px;
    display: flex;
    margin: 0;
    
    background-color: #ffc340;

}
.a{
    text-decoration:underline;
    color: blue;
}
.Pie {
    text-align: center;
    margin-top: 100%;
}

li {
    padding-left: 100px;
    padding-right: 100px;
    list-style: none;
    padding-bottom: 30px;

}

a {
    text-decoration: none;
    color: black;

}